@{
  Layout = "_Layout";
}

<div class="text-center">
  <h1 class="text-center">Welcome to Eau Claire's Salon</h1>
  <p>Please select the Add a Stylist button below to get started. </p>
</div>

<div class="text-center">
  
  <div class="text-center" id="search">
  @using (Html.BeginForm("search","Stylists")) {
  <br>
  }
</div>
    <button>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</button>
    <button>@Html.ActionLink("View Stylists", "Index", "Stylists")</button>
</div>